
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    background-color: rgb(158, 158, 226);
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    padding: 1em;
    margin: 1em;

}


.art {
    border: 2px solid rgb(98, 121, 98);
    padding: 0em 2em 1em 2em;
    margin: auto;
    width: 35%;
    margin-bottom: 2em;

    background-color: aliceblue;
    /* text-align: center; */

    .the_images {
        
        text-align: center;

        img {
            width: 100%;
            text-align: justify;
        }
    }

    button {
        background-color: rgb(61, 61, 250);
        color: white;
        border: none;
        border-radius: 2px;
        padding: 5px 10px;
        margin-top: 1em;
        font-size: 15px;

        &:hover {
            background-color: rgb(17, 17, 252);
            cursor: pointer;
        }
    }


    h2 {
        color: rgb(9, 85, 60);
    }

    p {
        text-align: justify;
        color: rgb(25, 212, 150);
    }

}


.rise {
    border: 2px solid rgb(46, 17, 83);
    padding: 0em 2em 1em 2em;
    margin: auto;
    margin-bottom: 2em;
    width: 40%;
    background-color: rgb(231, 217, 248);
    /* text-align: center; */

    button {
        background-color: rgb(75, 67, 87);
        color: white;
        border: none;
        border-radius: 2px;
        padding: 5px 10px;
        margin-top: 1em;
        font-size: 15px;

        &:hover {
            background-color: rgb(38, 32, 48);
            cursor: pointer;
        }
    }

    h2 {
        color: rgb(121, 50, 50);
    }

    p {
        text-align: justify;
        color: rgb(211, 94, 94);
    }

}



.next {
    border: 2px solid rgb(54, 1, 1);
    padding: 0em 2em 1em 2em;
    margin: auto;
    margin-bottom: 2em;
    width: 40%;
    background-color: rgb(247, 221, 221);
    /* text-align: center; */

    button {
        background-color: rgb(100, 63, 63);
        color: white;
        border: none;
        border-radius: 2px;
        padding: 5px 10px;
        margin-top: 1em;
        font-size: 15px;

        &:hover {
            background-color: rgb(54, 33, 33);
            cursor: pointer;
        }
    }

    h2 {
        color: rgb(121, 69, 2);
    }
    p {
        text-align: justify;
        color: rgb(218, 126, 6);
    }

}